.parent{

  .title{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  input{
    border-radius: 10px;
    min-height: 30px;
    width: calc(100% - 34px);
    outline: none;
    padding: 5px 15px;
    font-size: 16px;
    font-weight: 400;

    border: 1px solid #dcdada;
    transition: all 200ms linear;
    background: #F6F7FA;

    &:focus{
      border: 1px solid #5EBFCB;
    }
  }
  input[size=s]{
    padding: 0px 15px;
  }
}
