@import "components/colors";

.parent{
  display: flex;
  cursor: pointer;
  width: fit-content;

  & div:nth-child(1){
    border-left: 2px $green solid;
    border-top: 2px $green solid;
    border-bottom: 2px $green solid;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  & div:nth-child(2){
    border: 2px $green solid;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .button{
    font-weight: 800;
    font-size: 20px;
    color:$green;
    padding: 15px 30px;
  }
  .button[active=true]{
    font-weight: 800;
    font-size: 20px;
    color:white;
    background-color: $green;
    padding: 15px 30px;
  }
}
