@import "components/colors";

.parent{
  display: flex;
  row-gap: 20px;
  column-gap: 40px;
  align-items: flex-start;
  flex-wrap: wrap;

  & div:nth-child(1){
    flex: 1 1 60%;
  }
  & div:nth-child(2){
    flex: 1 1 30%;
  }
  .component{
    display: grid;
    row-gap: 20px;
    .tagsParent{
      display: flex;
      row-gap: 5px;
      column-gap: 5px;
      flex-wrap: wrap;
      & div:nth-child(n){
        flex: 0 0 auto;
        width: fit-content;
      }
    }

  }
}

.cost{
  font-size: 30px;
  color: $green;
  margin-bottom: 10px;
}
.deadline{
  color: $green;
  font-size: 30px;
}
.subtitle{
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 5px;
}
.title {
  font-size: 20px;
}
.text{
  color: #7A7A7A;
  word-wrap: break-word;
  max-width: 750px;

  @media(max-width: 1400px) {
    max-width: 600px;
  }
  @media(max-width: 1100px) {
    max-width: 500px;
  }
  @media(max-width: 900px) {
    max-width: 400px;
  }
  @media(max-width: 700px) {
    max-width: 90vw;
  }
}
